<form>
  <div class="form-group">
    <label for="sign-up-email">Email address</label>
    <input type="email" class="form-control" id="sign-up-email" placeholder="your@email" />
  </div>
  <div class="form-group">
    <label for="sign-up-login">Login</label>
    <input type="text" class="form-control" id="sign-up-login" placeholder="login" />
  </div>
  <div class="form-group">
    <label for="sign-up-name">Your name</label>
    <input type="text" class="form-control" id="sign-up-name" placeholder="My Name" />
  </div>
  <div class="form-group">
    <label for="sign-up-password1">Password</label>
    <input type="password" class="form-control" id="sign-up-password1" placeholder="*******" />
  </div>
  <div class="form-group">
    <label for="sign-up-password2">Confirm password</label>
    <input type="password" class="form-control" id="sign-up-password2" placeholder="*******" />
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="confirm"> I agree with something
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
