<form novalidate name="{{vm.name}}" ng-submit="vm.submit()">
  <div ng-if="this[vm.name].$submitted" class="after-submit" messages="">
  </div>
  <form-input model="user.login"
              messages="{required:'Login is required', minlength:'Login should be more than 3 symbols'}"
              label="Login" placeholder="login" required minlength="3" form-input-unique></form-input>
  <form-input messages="{required:'Password is required'}" label="Password" model="user.password">
    <input type="password" class="form-control" name="password" placeholder="Enter password" required/>
  </form-input>
  <button type="submit" class="btn btn-primary" ng-disabled="this[vm.name].$invalid" translate="SIGN-IN">Sign In
  </button>
</form>
